## ANE build config

project.grp = 
project.name = Exceptions

DEBUG_MODE=false

package.basename = com.distriqt.extension
output.basename = com.distriqt
output.dir = ./build
output.docs = ./docs/asdocs
output.packageasdocs = false

output.air.enabled = true
output.unity.enabled = false

unity.ioslibname = lib${project.grp}${project.name}Unity.a
unity.plugindir = Assets/Plugins/distriqt/${project.name}
unity.packagename = com.distriqt.${project.name}.unitypackage




actionscript.dir = ./platform/actionscript

default.dir = ./platform/default

ios.enabled = true
tvos.enabled = false
ios.dir = ./platform/ios
ios.packagecoreframework = false
ios.useworkspace = false
ios.xcode_build = Release

android.enabled = true
android.dir = ./platform/android
android.packagecorelib = false
android.externals = 
android.additional_projects = 

windows.enabled = false
windows.dir = ./platform/windows
windows.packagecorelib = false

macos.enabled = false
macos.dir = ./platform/macos



variants = 