## ANE build config

project.name = Exceptions

DEBUG_MODE=false

output.name = com.distriqt.${project.name}.ane
output.dir = ./build
output.docs = ./docs/asdocs
output.packageasdocs = false

ios.dir = ./platform/ios
ios.packagecoreframework = false
ios.useworkspace = false

android.dir = ./platform/android
android.packagecorelib = false

actionscript.dir = ./platform/actionscript

default.dir = ./platform/default


