##
## This would be best as a system-wide config
##


# DEFAULTS
output.tmpdir = .tmp
codetmpl = ./build_config/_codetmpl
airpackage.dir = ./package
airpackage.tmpl = ${airpackage.dir}/_packagetmpl
version.autoincrement = true
version.android = 
version.ios = 
docs.external_site_source = /Users/marchbold/work/distriqt/extensions/airnativeextensions/nativeextensions-documentation/source

# AIR SDK
air.sdk.macos = /Users/marchbold/work/sdks/air/current
air.sdk.windows = C:\\Users\\marchbold\\work\\sdks\\air\\current
air.swfversion = 24.0


# IOS
ios.enabled = true
iosimulator.enabled = true
tvos.enabled = false
ios.sdk = /Users/marchbold/work/sdks/ios/iPhoneOS9.3.sdk
ios.xcode_buildpath = /Applications/Xcode.app/Contents/Developer/usr/bin/xcodebuild
ios.build_dir = build
ios.xcode_build = Release
ios.iphoneos_dir = ${ios.xcode_build}-iphoneos
ios.iphonesimulator_dir = ${ios.xcode_build}-iphonesimulator
ios.tvos_dir = ${ios.xcode_build}-appletvos


# ANDROID
android.sdk.macos = /Users/marchbold/work/sdks/android/android-sdk-macosx
android.sdk.windows = C:\\Users\\marchbold\\work\\sdks\\android\\android-sdk-macosx
android.gradle_cache = /Users/marchbold/.gradle
android.outputdir = build
android.jetifier = /Users/marchbold/bin/jetifier/bin/jetifier-standalone


# SUPPORT
supportlibs.dir = /Users/marchbold/work/distriqt/extensions/supportlibs
supportlibs.corelibraries = ${supportlibs.dir}/corelibraries
supportlibs.corejar = ${supportlibs.corelibraries}/platform/android/bin
supportlibs.coreframework = ${supportlibs.corelibraries}/platform/ios/build


# WINDOWS 
windows.msbuildpath = C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Community\\MSBuild\\15.0\\Bin\\MSBuild.exe
windows.outputdir = build/x86
windows.outputdir64 = build/x64
windows.buildconfig = Release


# MACOS
macos.xcode_build = Release
macos.build_dir = build/${macos.xcode_build}


# UNITY 
unity.cmd = /Users/marchbold/work/sdks/unity/current/Unity.app/Contents/MacOS/Unity
unity.iphoneos_dir = build_unity/${ios.xcode_build}-iphoneos
unity.iphonesimulator_dir = build_unity/${ios.xcode_build}-iphonesimulator
unity.tvos_dir = build_unity/${ios.xcode_build}-appletvos
