##
## This would be best as a system-wide config
##


# DEFAULTS
output.tmpdir = .tmp
codetmpl = ./build_config/_codetmpl


# AIR SDK
air.sdk = /Users/marchbold/work/sdks/air/current


# IOS
ios.sdk = /Users/marchbold/work/sdks/ios/iPhoneOS9.3.sdk
ios.xcode_buildpath = /Applications/Xcode.app/Contents/Developer/usr/bin/xcodebuild
ios.xcode_build = Release
ios.iphoneos_dir = build/${ios.xcode_build}-iphoneos
ios.iphonesimulator_dir = build/${ios.xcode_build}-iphonesimulator
ios.tvos_dir = build/${ios.xcode_build}-appletvos


# ANDROID
android.sdk = /Users/marchbold/work/sdks/android/android-sdk-macosx
android.gradle_cache = /Users/marchbold/.gradle
android.outputdir = build


# SUPPORT
supportlibs.dir = /Users/marchbold/work/distriqt/extensions/supportlibs
supportlibs.corelibraries = ${supportlibs.dir}/corelibraries
supportlibs.corejar = ${supportlibs.corelibraries}/platform/android/bin/*.jar
supportlibs.coreframework = ${supportlibs.corelibraries}/platform/ios/build
